body {
    background-color: lightgray;
    }

.mainDiv {
    text-align: center;
    
}

.navText {
    font-size: 30px;
    

}

.navText:hover {
    color: purple;
    
}

.btn-group1 {
    text-align: center;
    text-shadow: none;
    padding: 0px 0px;
    border: none;

}

.btn-group2 {
    text-align: center;
    text-shadow: none;
    padding: 0px 0px;
    border: none;
}
 
.btn-group3 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group4 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group5 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group6 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group7 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group8 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group9 {
    text-align: center;
    text-shadow: none;
    border: none;
}

.btn-group10 {
    text-align: center;
    text-shadow: none;
    border: none;

}

.btn-group11 {
    text-align: center;
    text-shadow: none;
    border: none;

}